@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600;700&family=Rampart+One&display=swap");
@import url(./header.css);

:root {
  --font-family-advent: "Advent Pro", sans-serif;
  --font-family-rampart: "Rampart One", cursive;
  --default-font-size: 16px;
  --default-font-weight: 400;

  --color-text-dark: #333;
  --color-text-light: #fff;
  --color-text-accent: #c8b58d;

  --color-primary: #fff;
  --color-accent: #c8b58d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: var(--font-family-advent);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  color: var(--color-text-dark);
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  color: var(--color-text-dark);
}

h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 26px;
  color: var(--color-text-accent);
}

h2::after,
h2::before {
  display: block;
  content: "";
  width: 200px;
  height: 1px;
  opacity: 0.8;
  background-color: var(--color-accent);
}

p {
  text-align: justify;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--color-text-accent);
}

a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-text-accent);
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

.btn {
  display: block;
  padding: 0.5rem 2rem;
  max-width: max-content;
  color: var(--color-text-light);
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-text-dark);
}

li {
  list-style: none;
}
